In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/dutch_municipalities.csv')
df1 = pd.read_csv('data/municipalities_holland.csv')

In [3]:
df.head()

,municipality,province,latitude,longitude,surface_km2,surface_land_km2,surface_water_km2,population,avg_household_income_2012,avg_woz_2014,...,flag_color1,flag_color2,flag_color3,flag_color4,shield_symbol_1,shield_symbol_2,shield_symbol_3,shieldholder_1,shieldholder_2,shield_crown
0,Aa en Hunze,Drenthe,53.010.485,6.749.528,278.9,276.4,2.5,25243.0,35500.0,225000.0,...,green,yellow,NaN,NaN,crown,cross,NaN,deer,deer,crown
1,Aalburg,Noord-Brabant,51.751.294,5.057.085,53.2,50.4,2.8,12859.0,39100.0,249000.0,...,black,red,yellow,NaN,wheel,lion,NaN,NaN,NaN,crown
2,Aalsmeer,Noord-Holland,52.262.164,4.761.922,32.3,20.4,11.9,30792.0,40900.0,276000.0,...,red,green,black,NaN,lion,eel,NaN,NaN,NaN,NaN
3,Aalten,Gelderland,51.926.667,6.580.678,97.0,96.5,0.5,27030.0,33300.0,194000.0,...,white,green,NaN,NaN,tree,sword,NaN,NaN,NaN,crown
4,Achtkarspelen,Friesland,53.210.357,6.153.565,104.0,102.4,1.6,28002.0,30500.0,165000.0,...,white,red,green,blue,church,NaN,NaN,NaN,NaN,crown

In [4]:
df1.head()

,municipality,province,latitude,longitude,surface_km2,surface_land_km2,surface_water_km2,population,avg_household_income_2012,avg_woz_2014,...,asylum_migrants_2006,asylum_migrants_2007,asylum_migrants_2008,asylum_migrants_2009,asylum_migrants_2010,asylum_migrants_2011,asylum_migrants_2012,asylum_migrants_2013,asylum_migrants_2014,asylum_migrants_2015
0,Aa en Hunze,Drenthe,53.010.485,6.749.528,278.9,276.4,2.5,25243.0,35500.0,225000.0,...,40.0,40.0,40.0,35.0,30.0,30.0,30.0,25.0,25.0,20.0
1,Aalburg,Noord-Brabant,51.751.294,5.057.085,53.2,50.4,2.8,12859.0,39100.0,249000.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Aalsmeer,Noord-Holland,52.262.164,4.761.922,32.3,20.4,11.9,30792.0,40900.0,276000.0,...,65.0,60.0,60.0,60.0,60.0,55.0,60.0,60.0,60.0,55.0
3,Aalten,Gelderland,51.926.667,6.580.678,97.0,96.5,0.5,27030.0,33300.0,194000.0,...,55.0,55.0,50.0,50.0,55.0,45.0,35.0,35.0,35.0,35.0
4,Achtkarspelen,Friesland,53.210.357,6.153.565,104.0,102.4,1.6,28002.0,30500.0,165000.0,...,35.0,35.0,30.0,25.0,30.0,25.0,25.0,25.0,25.0,25.0

In [2]:
import shapefile

ModuleNotFoundError: No module named 'shapefile'